
.shadow{
	text-shadow: 1px 2px lightblue;
}
.pre{
	border: 2px solid red;
	max-width: 500px;
}
.bear-img{
	padding: 20px;
	border: 2px solid darkgray;
	margin: 20px;
}
.bear-container{
	border: 2px solid gray;
}
.fontmono{
	font-family: monospace;
	font-size: 40px;
	font-style: oblique;
	font-weight: lighter;
}
.table{
	border: 2px dotted gray;
	max-width: 800px;
}
.over-flow{
	overflow: scroll;
	height: 200px;
}
.left{
	width: 200px;
	border: 2px dotted gray;
	margin: 0 5px 0 0;
	padding: 5px;
	float: left;
}
.right{
	width: 400px;
	border: 2px dotted gray;
	padding: 5px;
	float: right;
}
.clear-float{
	clear: both;
}
.col-4-inch{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}