  
body, #bid-area{
	background-color: #f4f4f4;
	padding: 10PX;
}
.card-log{
	max-width: 400px;
}
.brand-wrap{
	width: auto;
}
.logo-gov{
	width: 80%;
	height: auto;
	display: block;
}
.logo{
	margin-bottom: 5px;
}
.card-banner{
	width: 100%;
	height: 100%;
	background-size: cover;
	min-height: 100px;
	max-height: 300px;
}
.title-section{
	color: darkorange;
}
.countdown-time{
	/*margin: 5px;*/
	color: darkorange;
	font-weight: bold;
	font-size: 140%;
}
.bid-amount{
	margin: 5px 5px 5px 0;
	max-width: 100px;
	display: inline;
}
#size-and-quantity{
	visibility: hidden; 
}
#coupon-code{
	display: inline;
}
#btn-coupon-code{
	max-width: 125px;
	font-family: monospace;
}
#btn-checkout{
	margin-bottom: 10px;
}
.clear-float{
	clear: both;
}
#social-content i{
	color: #0084cb;
}
#btn-finish-checkout{
	width: auto;
	margin-right: 30px;
	margin-top: 10px;
}
#header-on-top{
	background-color: #ecebeb;
}
.space{
	height: 90px;
}
.bid-box{
	border: 1px solid darkorange;
	margin-bottom: 5px;
}
.list-bullet li{
	font-weight: bolder;
	margin-bottom: 10px;
	margin-top: 10px;
}
.side-menu-item{
	margin-bottom: 20px;
}
.white-bg{
	background-color: #fff;
}
.bold{
	font-weight: bold;
}
.orders-list-box{
	padding-right: 0px;
	padding-left: 0px;
}
.order-card{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	position: relative;
}
.btn-order-detail{
	position: absolute;
	right: 10px;
	bottom: 10px;
}